.color-nav {
    background: rgb(238, 234, 234);
}
.drop-color {
    background: rgb(238, 234, 234);
}
.pagination > li > a
{
background-color: rgb(249, 249, 249);
color: rgb(7, 7, 7);
}
.card {
    background: rgb(184, 181, 181);
}